<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-utensils fa-2x"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Аккаунт
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.app.state.current_user %}
              <li><a class="dropdown-item" href="/user/">Мой профиль</a></li>
              <li><a class="dropdown-item" href="/logout/">Выход</a></li>
            {% else %}
              <li><a class="dropdown-item" href="/register/">Регистрация</a></li>
              <li><a class="dropdown-item" href="/login/">Вход</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      {% if request.app.state.current_user %}
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Рецепты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/post-a-recipe/">Создать</a></li>
            <li><a class="dropdown-item" href="/delete-recipe/">Удалить</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
      <form class="d-flex" action="/search/">
        <input class="form-control me-2" name="query" id="autocomplete" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
