{% extends "shared/base.html" %}


{% block title %}
  <title>Удалить рецепты</title>
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5 text-center text-danger mb-3">Удалить рецепты</h1>
    </div>
    <div id="result" class="text-danger text-bold lead"></div>
  </div>

  <div class="row">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Номер</th>
            <th scope="col">Название</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{recipe.title}}</td>
                <td><button class="btn btn-danger btn-sm" onclick="delete_recipe({{recipe.id}})">Удалить</button></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    function delete_recipe(id){
        fetch('/recipes/delete/'+id,{
            method:'DELETE',})
        .then(response => response.json())
        .then(document.getElementById('result').innerHTML = "Refreshing...")
        .then(data => document.getElementById('result').innerHTML = data.detail);
    }
</script>
{% endblock %}
